@using GameX8_0._4.Models
@model List<Game>
@{
    ViewBag.Title = "Games";
}
<head>
    <link href="~/Content/games.css" type="text/css" />
    
</head>
<h2>Games</h2>
<body>

    @foreach (Game g in Model)
    {
        if (g.mediaLinks.Any())
        {
            <a href="@Url.Action("Game","Home",new {gameName=@g.gameName})">
                <div class="card text-white bg-primary mb-3" id="games" style="max-width: 20rem;">
                    <div class="card-header">@g.gameName</div>

                    <div class="card-body">
                        <h4 class="card-title"><img src="@Url.Content(@g.mediaLinks.First())" class="img-thumbnail" /></h4>
                    </div>
                </div>
            </a>
            
            
        }
    }



</body>

