<head>
    <title>Log IN</title>
    <link rel="stylesheet" href="~/Content/Login.css" />
    <script src="~/Scripts/validate.js" ></script>
</head>

<body>
    <fieldset id="login">
        <legend>SIGN IN</legend>
        <form name="Login"  method="post" id="login-form">

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" required />
                      
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required/>

            </div>

            <div class="form-group">
                <label for="Submit"></label>
                <input type="submit" class="btn btn-primary" value="Sign In">

            </div>

       

        </form>
    </fieldset>
</body>