
@{
    ViewBag.Title = "Home";
}

<h2>DashBoard</h2>

<body>
    <div class="lol">
        <a href="/Admin/AddUser" type="button" class="btn btn-dark btn-lg btn-block">Add New User</a>
        <a href="/Admin/ViewUser" class="btn btn-dark btn-lg btn-block">View Users/Delete user</a>
        <a href="/Admin/ViewGames" type="button" class="btn btn-dark btn-lg btn-block">View Games/Delete Games</a>
        <a href="/Admin/MyAccount" class="btn btn-dark btn-lg btn-block">My Account</a>
        <a href="/Home/Index" type="button" class="btn btn-dark btn-lg btn-block">Home</a>
        <a href="/Home/Games" type="button" class="btn btn-dark btn-lg btn-block">Games</a>
    </div>
</body>

