@using GameX8_0._4.Models
@model List<Users>


@{
    ViewBag.Title = "ViewUser";
}
<head>
    ALL USERS
</head>

<body>
    <form action="../../Admin/SearchUser">
        <label for="Search"></label>
        <input type="text" name="userName" placeholder="Search User" />

    </form>

    <a class="btn btn-danger" href=@Url.Action("DeleteAllUsers")>Delete All Users</a>

    <form action="../../Admin/DeleteUser" style="display:inline-block">
        <label for="Delete USer"></label>
        <input type="text" name="userName" placeholder="Delete User" />
    </form>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">userName</th>
                <th scope="col">userEmail</th>
                <th scope="col">userStatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Users u in Model)
            {
                <tr class="table-dark">

                    <th scope="row"><a href=@Url.Action("UserInfo",new {userName=@u.userName})>@u.userName</a></th>
                    <td>@u.userEmail</td>
                    <td>@u.userStatus</td>

                </tr>
            }
        </tbody>

    </table>
</body>
